.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.text-danger {
  font-size: 0.875rem;
}

.user-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.map-container {
  margin-top: 20px;
}

.map-container iframe {
  border: 0;
  width: 100%;
  /* Full width for iframe */
}

.site-image {
  border-radius: 10px;
}